.container {
    display: grid;
    padding: 0;
    justify-items: center;
    grid-template-areas:
    "empty"
    "contents"
    "more_contents"
    "footer";
    grid-template-columns: 100%;
   
}
