body {
    font-family: -apple-system, BlinkMacSystemFont, helvetica,
      "Apple SD Gothic Neo", sans-serif;
  }
  
  .info_title {
    position: relative;
  }
  
  .myinfo_area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 12px 0;
  }
  
  .myphoto {
    position: relative;
    overflow: hidden;
  }
  
  .myphoto img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .myphoto img {
    box-shadow: 0 3px 6px 0 rgba(29, 34, 53, 0.08);
    border-radius: 50%;
    vertical-align: top;
    margin-right: 10px;
  }
  
  .imageInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .myinfo_area .myaccount .myname .name_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.63px;
    color: #1e1e23;
    word-break: break-all;
  }
  
  .myinfo_area .myaccount .myaddress {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    color: #848896;
    word-break: break-all;
  }
  
  .myprofile .subindex_row {
    border-top: 1px solid rgba(220, 227, 233, 0.8);
  }
  
  .subindex_row .row_item {
    padding: 12px 0 12px 30px;
  }
  .row_item {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row_item .item_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #303038;
    word-break: break-all;
  }
  
  .row_item input {
    width: 60%;
    padding: 8px;
    border: 1px solid #e3e9ed;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .subindex_box {
    padding: 0 17px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, 0.08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    max-width: 700px;
    margin: 40px auto;
  }
  
  .subindex_row .row_item {
    padding: 12px 0 12px 30px;
  }
  
  .bottom_line {
    border-bottom: solid 1px #e3e9ed;
  }
  
  .icon {
    width: 20px;
    height: 18px;
    margin-right: 10px;
  }
  
  .member_submit_btn_area {
   
    padding: 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    /* margin-bottom: 100px; */
  }
  
  .btn_edit {
    min-width: 100px;
    margin: 5px 10px;
    height: 40px;
    padding: 2px 9px 3px;
    border-radius: 4px;
    border: solid 1px #dbdde4;
    background-color: #f6f6f8;
    text-align: center;
    cursor: pointer;
  }
  
  .subindex_box2{
    padding: 0 17px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, 0.08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    max-width: 700px;
    margin: 20px auto;
  }
  
  /* 수정 진행중  */
  .memberCard {
    padding: 16px 16px 30px 16px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  
    max-width: 700px;
    margin: 40px auto;
  }
