body {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.memberSearchTable {
  border-collapse: collapse;
  width: 100%;


}
.memberSearchTable th,
.memberSearchTable td {
  line-height: 24px; /* 고정된 행 간격을 설정 */
  padding: 6px 15px;
  text-align: center;
}
.memberSearchTable th {
  background: #42444e;
  color: #fff;
  /* border: 1px solid #c6c9cc; */
  /* color: #000000; */
  font-size: 13px;

  /* border-bottom: 1px solid #22223b; */
}

.memberSearchTable tr:nth-child(even) td {
  background: #eaeaed;
}
.memberSearchTable tr:first-child th:first-child {
  border-top-left-radius: 6px;
  
}
.memberSearchTable tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.memberSearchTable td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
  color: #555;
  font-size: 13px;
}
.memberSearchTable td:first-child {
  border-left: 1px solid #c6c9cc;
}

.memberSearchTable tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.memberSearchTable tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.memberSearchTable tr:hover {
  transition: background-color 0.2s; 
  background: #f0f0f0;;
}

/* 페이지네이션 CSS */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 40px;
}

.pageItem {
  margin: 0 3px;
}

.pageLink {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #c6c9cc;
  color: #666;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.pageLink:hover {
  background-color: #eaeaed;
  border-color: #c6c9cc;
  cursor: pointer;
}

.active .pageLink {
  background-color: #42444e;
  color: white;
  border-color: #42444e;

}

.active .pageLink:hover {
  background-color: #202936;

}

.breakItem {
  margin: 0 5px;
  color: #666;
}

.member_search_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member_search_area2 {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_form {
  width: calc(100% - 200px); /* 사이드바 너비를 고려한 너비 설정 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2에 해당하는 값 */
  padding: 1rem; /* p-4에 해당하는 값 */

}
.search_item {
  padding: 3px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.search_item  option{
  font-size: 12px;
}


.search_item2 {
  width: 1060px;
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pl {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border: 1px solid #ccc; /* border */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 12px; 
  margin-left: 6px;

}



.add_person_btn {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border: 1px solid #ccc; /* border */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 13px; 
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  /* border: 1px solid #202936; */
  color: #fff;
  background-color: #202936;

}

.add_person_btn:hover {
  border-color: #666;
  background-color: #42444e;
  color: #fff;
}

.search_btn {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border: 1px solid #ccc; /* border */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 13px; /* text-sm */
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.search_btn:hover {
  border-color: #202936;
  background-color: #202936;
  color: #fff;
}
.member_input {
  padding: 0.5rem 0.75rem; /* px-3, py-2 */
  border: 1px solid #ddd; /* border */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 0.875rem; /* text-sm */

}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 3s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.dateSeparator {

  margin: 5px 5px 5px 10px; /* 상우하좌*/
  color: #333; /* 색상 설정 */
}
